
.table-header,.addItem-card-header,.edit-Item-card-header,.edit-user-card-header,.allItem-card-header{
    background-color: #001F3F;
    color: #FFFFFF;
}
.cashierCatCard{
    background-color: #001F3F; 
}
.cashierCatCard:hover{
    background: radial-gradient(circle, rgba(143,175,200,1) 0%, rgba(79,144,149,1) 0%, rgba(35,26,43,1) 0%);
 
}
.cashierCatCard a{
    color: #FFFFFF;  
}
.custom-outline-button {
    color: #ece2e2; /* Text color */
    border-color: #ece2e2; /* Outline color */
}
.back-btn{
    color: #001F3F; /* Text color */
    border-color: #001F3F; /* Outline color */
}

.custom-outline-button:hover {
    background-color: #001F3F; /* Background color on hover */
    color: #FFFFFF; /* Text color on hover */
}
.back-btn:hover {
    background-color: #001F3F !important; /* Background color on hover */
    color: #FFFFFF !important; /* Text color on hover */
}

.offcanvas .list-group-item {
    color: #FFFFFF;
}

.offcanvas .offcanvas-body a {
    color: black;
}

.offcanvas .list-group-item a:hover {
    background-color: #001F3F;
    color: white !important;
}

.offcanvas .sub-item:hover a {
    background-color: #6789ab;
    color:black !important;
}

 .modal-body{
    background-color:#ece2e2 ;
    
}
.modal-header{
    background-color: #001F3F; 
    color: #FFFFFF;
}
.modalclosetbtn{
    background-color: #FFFFFF;
}

.categorycard .card .list-group-item:hover {
    background-color: #CEDBDC; 
}
.items-container a:hover{
    background-color: #CEDBDC;
    color:black;
}
.ItemNameCol{
    background-color: #001F3F; /* Background color on hover */
    color: #FFFFFF; 
}

.navbar-header{
    background: radial-gradient(circle, rgba(143,175,200,1) 0%, rgba(79,144,149,1) 0%, rgba(35,26,43,1) 0%);
     color: white;
}
.searchBarRow{
background: white;
}
.cart-title{
    background-color: #001F3F; 
    color: #FFFFFF;
}



