
.table-header,.addItem-card-header,.edit-Item-card-header,.edit-user-card-header,.allItem-card-header{
    background-color: #001F3F;
    color: #FFFFFF;
}
.ResetPassword-card-header{
    background-color: #001F3F;
    color: #FFFFFF;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
.cashierCatCard{
    background-color: #001F3F; 
}
.cashierCatCard:hover{
    background: radial-gradient(circle, rgba(143,175,200,1) 0%, rgba(79,144,149,1) 0%, rgba(35,26,43,1) 0%);
 
}
.pending-order-btns:hover{
    background: radial-gradient(circle, rgba(143,175,200,1) 0%, rgba(79,144,149,1) 0%, rgba(35,26,43,1) 0%);
 
}

.recipecolumn {
    border-left: 1px solid #d0d0d0;
}
.cashierCatCard a{
    color: #FFFFFF;  
}
.custom-outline-button {
    color: #ece2e2; /* Text color */
    border-color: #ece2e2; /* Outline color */
}
.back-btn{
    color: #001F3F; /* Text color */
    border-color: #001F3F; /* Outline color */
}

.custom-outline-button:hover {
    background-color: #001F3F; /* Background color on hover */
    color: #FFFFFF; /* Text color on hover */
}
.back-btn:hover {
    background-color: #001F3F !important; /* Background color on hover */
    color: #FFFFFF !important; /* Text color on hover */
}

.offcanvas .list-group-item {
    color: #FFFFFF;
}
.offcanvas .offcanvas-body a:hover {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color:black;
    border-radius: 10px;
}
.offcanvas .list-group-item img{
    filter: invert(1); 
}

.offcanvas .offcanvas-body a {
    color: white;
}


 .modal-body{
    background-color:#FFFFFF ;
    
}
.modal-open{
    border-radius: 20px;
}
.login-card .input-group-text{
    background-color:#001F3F ;
    color: #ffffff;
}
.modal-header{
    background-color: #001F3F; 
    color: #FFFFFF;
}
.modalclosetbtn{
    background-color: #FFFFFF;
}

.categorycard .card .list-group-item:hover {
    background-color: #CEDBDC; 
}
.items-container a:hover{
    background-color: #CEDBDC;
    color:black;
}
.ing-list{
    background-color: #edf3f3;
}
.ItemNameCol{
    background-color: #001F3F; /* Background color on hover */
    color: #FFFFFF; 
}

.navbar-header{
    background: radial-gradient(circle, rgba(143,175,200,1) 0%, rgba(79,144,149,1) 0%, rgba(35,26,43,1) 0%);
     color: white;
}
.offcanvas , .offcanvas .list-group-item{
    background: radial-gradient(circle, rgba(143,175,200,1) 0%, rgba(79,144,149,1) 0%, rgba(35,26,43,1) 0%);
    color: white !important;
}
#TITLE{
    
    color:rgb(124, 27, 27);
  
}
.searchBarRow{
background: white;
}

.login-card{
    background-color: #ffffff;
    border: 3px solid #d0d0d0;
}
.loginBody{
    background-color: #ebeef0; 
}
.cart-title{
    background-color: #001F3F; 
    color: #FFFFFF;
}

.pending-order-btns{
    background-color: #001F3F; 
    color: white;
}


