*{
    font-family: 'Roboto', sans-serif;
    ::-webkit-scrollbar {
        width:10px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 5px;
        margin-top: 20px;
    margin-bottom: 20px;
       
      }
      ::-webkit-scrollbar-thumb {
        background:#43394d ;
           border-radius: 10px;
           
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #001F3F; 
      }
      .swal2-popup {
        background-color: #001F3F;
        color: white;
    }
    ::-webkit-progress-bar {
        height:300px;
    }
      
}
body {
    max-height: 100vh; /* Set maximum height to viewport height */
    overflow: hidden; /* Disable vertical overflow */
    margin: 0;
    padding: 0;
}
textarea{
    max-height: 200px;
}
#password-strength-status {
    font-size: 14px;
    margin-top: 5px;
}

.weak-password {
    color: red;
}

.medium-password {
    color: orange;
}

.strong-password {
    color: green;
}
 .offcanvas-body a {
    text-decoration: none;
}

.offcanvas .list-group-item {
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #001F3F;
    border-radius: 0.25rem;
    margin-bottom: 5px;
}

.offcanvas {
    margin-top: 70px;
}

.offcanvas .offcanvas-body a {
    font-weight: bold;
}

.offcanvas .people-icon,
.offcanvas .customer-icon,
.offcanvas .sales-icon,
.offcanvas .menu-icon,
.offcanvas .ingredient-icon,
.offcanvas .dashboard-icon,
.offcanvas .order-icon,
.offcanvas .cashier-icon,
.offcanvas .home-icon {
    height: 35px;
    margin-right: 5px;
}

.offcanvas .list-group-item {
    border: none;
    border-radius: 0;
}

.offcanvas .list-group-item a {
    text-decoration: none;
}

.offcanvas .offcanvas-body a {
    border-radius: 5px;
    padding: 2px;
}

#add-userModal .input-group-text{
    width:135px;
    justify-content: center;
    font-weight: bold;
}
#add-userModal,.forms-select{
    justify-content: end;
    text-align:center ;
    font-weight: bold;
}
#edit-user-form .input-group-text{
   width: 135px;
   justify-content: center;
    font-weight: bold;
}
.edit-user-profile-card{
  border-radius: 25px;
}
.edit-profile-row{
    margin-top: 5%;
}
.addCategoryBtn{
    width: fit-content;
    height: fit-content;
    margin:5px;
}
.categoryRow {
    height: calc(100vh - 70px);
    overflow-x: auto;
}
.items-container {
    height: calc(100vh - 70px)
}


.categorycard{
   height: 500px;
    overflow-x: auto;
    margin-bottom: 2%;
    margin-right:20px;
    margin-left:20px;
    background-color: white
}
.categorycard .card-header{
    background-color: #001F3F;
    color:white;
    position: sticky;
    top:0;
    z-index: 1;
}
.searchBarRow{
    position: sticky;
    top:0;
    z-index: 1;
}

.ItemNameRow{
    position: sticky;
    top:0;
    z-index: 1;
}
.categorycard .card {
    min-height: 500px;
}
.delete-category-btn{
    max-width: fit-content;
}
.categorycontainer{
    padding: 0;
}
#seachBar{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width:300px ;
}
.items-list-row{
    margin: 0;
}
.item-row{
    max-width:300px ;
    max-height: 100vh;
}
.add-items-column{
    margin: 0;
    overflow-x: auto;
    max-height: cal(100vh-70px) !important;
}
.recipeRow {
    margin: 0;
    overflow-x: auto;
    z-index: 1;
    max-height: calc(100vh - 70px);
}

.recipesRow {
    margin: 0;
    overflow-x: auto;
    z-index: 1;
    max-height: calc(100vh - 70px);
}


.items-list-row{
    overflow-x: auto;
    max-height: 750px;
    margin-top: 20px;
    margin-bottom: 100px;
    bottom: 0;
}
.list-row{
    margin-top: 20px;
}
.cardDetailsRow{
    min-height: 80px;
}
.card-text{
    font-weight: bold;
}

#add-item-form .input-group ,#edit-food-items-form .input-group ,#add-ingredients-form .input-group,#edit-ingredients-form .input-group{
    margin:5px;
}
#add-item-form .input-group-prepend  ,#edit-food-items-form .input-group-prepend ,#add-ingredients-form .input-group-prepend,#edit-ingredients-form .input-group-prepend{
    width:175px;
}
#add-item-form .input-group-prepend-img  ,#edit-food-items-form .input-group-prepend-img,#add-ingredients-form .input-group-prepend-img,#edit-ingredients-form .input-group-prepend-img{
    width:250px;
}
#add-item-form  ,#edit-food-items-form,#edit-user-form,#add-ingredients-form,#edit-ingredients-form{
    height:500px;
    min-width: 400px;
    padding: 30px;
}
.add-items-card ,.edit-items-card,.edit-user-profile-card{
    border-radius: 25px;
    width: 500px;
    height: 600px;
}

.addItem-card-header , .edit-Item-card-header,.edit-user-card-headerm{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
.selectdropdown {
    width: fit-content;
}
#imgprev {
    height: 100px;
    width: 100px;
    box-sizing: content-box;
}
.additemBtn{
    height: fit-content;
    width: fit-content;
}
.ItemNameCol{
    width: fit-content;
}
.edit-items-column{
   
    overflow-y: auto;
}

.recipecolumn {
    max-height: 80vh;
    overflow-y: auto;
}

.ing-list {
    max-height: 60vh;
    overflow-y: auto;
}
.img-col #imgprev{
    min-height:200px;
    min-width:200px;
}
.Allitems-container{
    overflow-y: auto;
    top: 0;
    z-index: 1;
    height: 85vh;
    width:100%;
    margin: 0;
    
}
.Allitemscard{
    width: 18rem;
    margin:10px;
    border-radius: 25px;
}
.FoodItemCashiercard{
    width: 15rem;
    margin:5px;
    border-radius: 25px;
}

.cashierCatCard{
    width: 12rem;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cashierCatCard a{
    text-decoration: none;
}


.orders-card,.refillRequestCard{
    width: 19rem;
    max-height: 500px;
    margin:10px;
    border-radius: 25px;
    overflow-y: auto;
}
.Ingredientcard{
    width: 18rem;
    margin:10px;
    border-radius: 25px;
}
.refillRequestCard{
    width: 18rem;
    margin:10px;
    border-radius: 25px;
    overflow-x: hidden;
}
.stockrequests-container,.orders-container{
    height: 70vh;
    overflow-y: auto;
}
.allItem-card-header,.edit-user-card-header{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
.availabilityRow{
    height: 50px;
}
.common-container{
    height: 100vh;
    overflow-y: auto;
}

.tableRowLg{
    height: 83vh;
}
.table-header-lg{
    position: sticky;
    top:0;
    height:40px;
}
.dashboard-container{
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.dashboardCard{
    height: 100%;
    border-radius: 10px;
}

.dashboardcol{
    min-height:100%;
}
.navbar-header{
    height:70px;
}

.card-title-row{
    margin-left:20px;
    margin-top:20px;
}

.dashboardTitle,.totalSalesAmount{
font-weight: bold;
}
.salesChartRow {
    padding-left:15px
}
.totalSalesAmount{
    margin-left: 50px;
}
.TotalSalesCard{
    width: 100%;
}
.dashboardChartRow{
    margin-top: 10px;
}
.customerPendingorderList{
    overflow-x: auto;
    max-height: 74vh;
    width: 190px;
    margin-left: 20px !important;
}

.pending-order-btns{
    min-width: 130px;
    min-height:140px;
}
#fooditems-container{
    margin: 0;
    overflow-x: auto;
    z-index: 1;
    max-height: 74vh;
}    
.ordersAndItemsRow{
    height: 90vh;
}
.cart{
    max-height: 90vh;
}
.cashierCategoryRow ,#fooditems-container,.customerPendingorderList{
    background-color: #ffffff; 
    border: 1px solid #d0d0d0; 
    border-radius: 8px;
    padding: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 10px;
}
.cart{
    background-color: #ffffff; 
    border: 1px solid #d0d0d0; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    overflow-y: auto;
}
.cart-title {
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}
.card{
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.cartcustomerDetailscard{
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 280px;
    padding: 10px;
}
.cartcustomerDetailscard .input-group-prepend {
    width: 100px;
}
.Discountcard{
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 280px;
    padding: 10px;
}
.cartItemsCard {
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 280px;
    max-height: 290px;
    padding: 10px;
    overflow-y: auto;
}
.cartItem{
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f6f1f1;
    padding:5px;
}
#discountName{
    width: 100px;
    margin-left: 20px;
}
.pricecol{
    height:23px;
}
.cashier-container{
    height:calc(100vh-70px);
    overflow-y: auto;
}
